<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" media="all" href="static/main.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/script.js?1"></script>

    <title>Raspberry Pi Robot Control Panel</title>
  </head>

  <body onload="init();">

    <div id="container">

      <h1>Raspberry Pi Robot Control Panel</h1>

      <p><a href="/halt" onClick="return shutdown()">Shutdown...</a></p>
      
      <p>
	LED
	<input type="checkbox" id="led" onchange="setLed()">
      </p>
	
      <p>
	<input type="text" id="notes" maxlength="14" value="l16ceg>c">
	<button onclick="playNotes()">Play</button>
      </p>

      <table>
	<tr><th>Battery</th><td class="wide"><span id="battery_millivolts"></span> mV</td></tr>
      </table>

      <table>
	<tr>
	  <th rowspan=2>Encoders</th>
	  <td id="encoders0"></td><td id="encoders1"></td>
	</tr>
      </table>

      <div id="joystick">
      </div>

      </br>
      <div id="cameraPos">
      </div>
      <div id="cameraFeed">
	<canvas id="camera">
	  <p>
	    Please use a browser that supports the Canvas Element, like
	    <a href="http://www.google.com/chrome">Chrome</a>,
	    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
	    <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
	  </p>
	</canvas>
	<script type="text/javascript" src="static/jsmpg.js"></script>
	<script type="text/javascript">
	  // Show loading notice
	  var canvas = document.getElementById('camera');
	  var ctx = canvas.getContext('2d');
	  ctx.fillStyle = '#444';
	  ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);
	  
	  // Setup the WebSocket connection and start the player
	  var client = new WebSocket('ws://' + window.location.hostname + ':8084/');
	  var player = new jsmpeg(client, {canvas:canvas});
	</script>
      </div>

    </div>

</html>
