Description=Pi Camera Streaming Server
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/feline-telepresence-robot/pi/camera.py

[Install]
WantedBy=multi-user.target
